@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

body {
    display:flex;
    flex-direction:column;
    font-family:  Roboto, sans-serif;
}

a:link {
    text-decoration: none;
    color: white;
}

.top {
    background-color:#1F2937;
    display: flex;
    justify-content: center;
    align-items:center;
}

.hero,
.herosubtext {
    color: white;
}

.hero {
    font-weight: 800px;
    display: flex;
}

.herobutton {
    background-color: #3882F6;
    border-radius: 8px;
    border: 0px;
    padding: 0 20px;
    font-weight: bold;
}

.imgheader {
    display: flex;
    justify-content: center;
    margin: 24px;
    font-size:25px;
    font-weight:bold;
}

.imgcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 24px;
  }

img {
    width: 140px;
    height: auto;
    border: 3px solid #3882F6;
    border-radius: 8px;
  }

  .images {
      padding: 40px;
  }
  .info {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
  }

  .text {
      max-width: 200px;
      padding: 20px;
      align-items: center;
  }

.header {
    background-color:#1F2937;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.quote {
    display:flex;
    padding: 80px;
    flex-wrap: wrap;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: flex-end;
}

.quotetext {
    font-style:italic;
    font-size:30px;
}

.bot {
    background-color:#3882F6;
    color: white;
    padding: 80px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8% 16%;
}

.ctabutton {
    padding: 8px 24px;
    border-radius: 8px;
    background-color:transparent;
    border-color:white;
    font-weight: bold;
  }

  .cta {
      font-weight: bold;
      font-size: 20px;
  }

.footer {
    background-color:#1F2937;
    color:white;
    display:flex;
    justify-content: center;
    padding: 24px;
    font-size: 14px;
}